{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style type="text/css">
        div.a {
      border: 5px solid black;
      padding: 10px;
      margin: 10px;
    }
    </style>
</head>
<body>
    <div class="container" style = "text-align:center">
        <h2>Create You Quiz </h2>
        <form class="form-horizontal" method="POST" action="/create_game">
            <div class="form-group">
                <label class="control-label col-sm-2">Enter phone Number:</label>
                <input type="text" class="col-sm-10" id="p" placeholder="Enter phone Number" name="p">
            </div>
            <div>
                <div class="form-inline">
                    <div class="col-sm-10">
                        <label>Enter Question:</label>
                        <input type="text" class="form-control" id="q1" placeholder="Enter Your Question" name="q1">
                    </div>
                </div>
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <label>Option1</label>
                            <input type="text" class="form-control" id="o11" placeholder="Enter Your first option" name="o11">
                        </div>
                        <div class="col-sm-10">
                            <label>Option2</label>
                            <input type="text" class="form-control" id="o12" placeholder="Enter Your second option" name="o12">
                        </div>
                        <div class="col-sm-10">
                            <label>Option3</label>
                            <input type="text" class="form-control" id="o13" placeholder="Enter Your third option" name="o13">
                        </div>
                        <div class="col-sm-10">
                            <label>Option4</label>
                            <input type="text" class="form-control" id="o14" placeholder="Enter Your fourth option" name="o14">
                        </div>
                        <div class="col-sm-10">
                            <label>Enter your answer</label>
                            <input type="text" class="form-control" id="ans1" placeholder="Enter Answer" name="ans1">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-sm-10">
                        <label>Enter Question:</label>
                        <input type="text" class="form-control" id="q2" placeholder="Enter Your Question" name="q2">
                    </div>
                </div>
                <br />
                <div>
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <label>Option1</label>
                            <input type="text" class="form-control" id="o21" placeholder="Enter Your first option" name="o21">
                        </div>
                        <div class="col-sm-10">
                            <label>Option2</label>
                            <input type="text" class="form-control" id="o22" placeholder="Enter Your second option" name="o22">
                        </div>
                        <div class="col-sm-10">
                            <label>Option3</label>
                            <input type="text" class="form-control" id="o23" placeholder="Enter Your third option" name="o23">
                        </div>
                        <div class="col-sm-10">
                            <label>Option4</label>
                            <input type="text" class="form-control" id="o24" placeholder="Enter Your fourth option" name="o24">
                        </div>
                        <div class="col-sm-10">
                            <label>Enter your answer</label>
                            <input type="text" class="form-control" id="ans2" placeholder="Enter Answer" name="ans2">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-sm-10">
                        <label>Enter Question:</label>
                        <input type="text" class="form-control" id="q3" placeholder="Enter Your Question" name="q3">
                    </div>
                </div>
                <br />
                <div>
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <label>Option1</label>
                            <input type="text" class="form-control" id="o31" placeholder="Enter Your first option" name="o31">
                        </div>
                        <div class="col-sm-10">
                            <label>Option2</label>
                            <input type="text" class="form-control" id="o32" placeholder="Enter Your second option" name="o32">
                        </div>
                        <div class="col-sm-10">
                            <label>Option3</label>
                            <input type="text" class="form-control" id="o33" placeholder="Enter Your third option" name="o33">
                        </div>
                        <div class="col-sm-10">
                            <label>Option4</label>
                            <input type="text" class="form-control" id="o34" placeholder="Enter Your fourth option" name="o34">
                        </div>
                        <div class="col-sm-10">
                            <label>Enter your answer</label>
                            <input type="text" class="form-control" id="ans3" placeholder="Enter Answer" name="ans3">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-sm-10">
                        <label>Enter Question:</label>
                        <input type="text" class="form-control" id="q4" placeholder="Enter Your Question" name="q4">
                    </div>
                </div>
                <br />
                <div>
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <label>Option1</label>
                            <input type="text" class="form-control" id="o41" placeholder="Enter Your first option" name="o41">
                        </div>
                        <div class="col-sm-10">
                            <label>Option2</label>
                            <input type="text" class="form-control" id="o42" placeholder="Enter Your second option" name="o42">
                        </div>
                        <div class="col-sm-10">
                            <label>Option3</label>
                            <input type="text" class="form-control" id="o43" placeholder="Enter Your third option" name="o43">
                        </div>
                        <div class="col-sm-10">
                            <label>Option4</label>
                            <input type="text" class="form-control" id="o44" placeholder="Enter Your fourth option" name="o44">
                        </div>
                        <div class="col-sm-10">
                            <label>Enter your answer</label>
                            <input type="text" class="form-control" id="ans44" placeholder="Enter Answer" name="ans44">
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-sm-10">
                        <label>Enter Question:</label>
                        <input type="text" class="form-control" id="q5" placeholder="Enter Your Question" name="q5">
                    </div>
                </div>
                <br />
                <div>
                    <div class="form-inline">
                        <div class="col-sm-10">
                            <label>Option1</label>
                            <input type="text" class="form-control" id="o51" placeholder="Enter Your first option" name="o51">
                        </div>
                        <div class="col-sm-10">
                            <label>Option2</label>
                            <input type="text" class="form-control" id="o52" placeholder="Enter Your second option" name="o52">
                        </div>
                        <div class="col-sm-10">
                            <label>Option3</label>
                            <input type="text" class="form-control" id="o53" placeholder="Enter Your third option" name="o53">
                        </div>
                        <div class="col-sm-10">
                            <label>Option4</label>
                            <input type="text" class="form-control" id="o54" placeholder="Enter Your fourth option" name="o54">
                        </div>
                        <div class="col-sm-10">
                            <label>Enter your answer</label>
                            <input type="text" class="form-control" id="ans5" placeholder="Enter Answer" name="ans5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Create a Game</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}