<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Play your Game</title>
    <style type="text/css">
        .CommentBox {
                color:White;
                margin:0 auto;
                height: 100px;
                text-align: center;
            }
        input[type="text"] {
                    margin:10px auto;
                }
    </style>

    <script type="text/javascript">
        function setbackground() {
            window.setTimeout("setbackground()", 3000);
            var index = Math.round(Math.random() * 9);
            var ColorValue = "000000"; // default color - black (index = 0)
            if (index == 1)
                ColorValue = "FFCCCC"; //peach
            if (index == 2)
                ColorValue = "CCAFFF"; //violet
            if (index == 3)
                ColorValue = "A6BEFF"; //lt blue
            if (index == 4)
                ColorValue = "99FFFF"; //cyan
            if (index == 5)
                ColorValue = "D5CCBB"; //tan
            if (index == 6)
                ColorValue = "99FF99"; //lt green
            if (index == 7)
                ColorValue = "FFFF99"; //lt yellow
            if (index == 8)
                ColorValue = "FFCC99"; //lt orange
            if (index == 9)
                ColorValue = "CCCCCC"; //lt grey
            document.getElementsByTagName("body")[0].style.backgroundColor = "#" + ColorValue;
        }
    </script>
</head>

<body onload="setbackground();">
    <div>
        <div class="CommentBox">
            <h1> Game Name </h1>
            <form class="form-horizontal" method="POST" action="/verify_gamecode">
                    <div class="form-group">
                        <div >
                            <input type="text" class="form-control" id="p" placeholder="Enter Your Game Code" name="code">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Start Game</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <footer>
        <a href="{{ url_for('create_game') }}">Create You New Game Here</a>
    </footer>
</body>
</html>